<nav class="navbar navbar-expand-lg navbar-custom">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">
      <span class="hawk">Suggested</span><span class="er">Movies</span>
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link last-element" routerLink=""> Ajay Karthik</a>
        </li>

      </ul>
      <!-- Left links -->
    </div>
  </div>
  <!-- Container wrapper -->
</nav>

<!-- page -->
<div class="container">
  <div class="row container-card">
    <div class="col-md-3" *ngFor="let movie of suggestedMovies; let i = index">
      <div class="card">
        <img class="card-img-top" [src]="movie.poster_url" alt="poster">
        <div class="card-overlay">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text"><span>Genres: </span>{{ movie.genres }}</p>
          <p class="card-text"><span>Runtime: </span>{{ movie.runtime }}</p>
          <p class="card-text"><span>IMDB: </span>{{ movie.vote_average }}</p>
          <p class="card-text"><span>Director: </span>{{ movie.director }}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="suggestedMovies.length == 0">
    <p>No suggested movies found.</p>
  </div>
</div>