<h1 class="mb-3">Movie Recommendations</h1>
    <div class="row mb-3">
      <div class="col-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter a movie name" [(ngModel)]="movieName" />
          <button class="btn btn-primary" type="button" (click)="submitMovieName()" >Search</button>
        </div>
        <div *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</div>
        <ul class="list-group mt-3">
          <li class="list-group-item" *ngFor="let suggestion of suggestedMovies">{{ suggestion }}</li>
        </ul>
      </div>
    </div>